@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    overflow-x: hidden;
}

body {
    overflow-x: hiddens;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #000000, #111827, #1F2937);
    color: white;
}